.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.navbar li {
  display: inline;

  &.auth-link {
    background-color: #ccc;

    a {
      color: #333;
    }
  }
}

.navbar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #555;
}

.navbar .active {
  background-color: #4CAF50;
}